.logo {
    padding: 1em;
    margin-left: 5%;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: #000;
    }
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;

    li {
        padding: 1em;
        margin: 0 1em;
        list-style-type: none;
    }
}